<!DOCTYPE html>
<html ng-app='myApp'>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="phone-list/phone-list.module.js"></script>
    <script src="phone-list/phone-list.component.js"></script>
    <script src="two.controller.js"></script>
    <script src="three.controller.js"></script>
  </head>

  <body>
    <div ng-controller='TwoController'>
      {{message}}
    </div>
    
    <div ng-controller='ThreeController'>
      {{message}}
    </div>
        
    <hr/>
    
      <phone-list></phone-list>
    <hr/>

    <center>
<!--      
    <div ng-controller="MainController">
      <h3>{{message}}</h3>
      <div>{{error}}</div>
      <hr />
      {{ username }}
      <div>Search:</div>
      <form name="searchUserForm">
        <input placeholder="User to find" ng-model="username" type="search" />
        <input value="Search" ng-click="searchUser()" type="submit" />
      </form>
      <hr />
      <div>
        <div>Name: {{user.name}}</div>
        <div>
          <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
        </div>
  ==========
      <div>First name: {{person.fname}}</div>
      <div>Last name: {{person.lname}}</div>
      <div>
        <img ng-src="{{person.image}}" Title="{{person.fname}} {{person.lname}}">
      </div>
  ==========
      </div>
    </div>
-->   
    
    </center>
  </body>

</html>
