/* Styles go here */

.phones {
  font-size: 14px;
}

img {
  width: 55px;
  height: 55px;
}

.phonediv {
  overflow-y: scroll;
  width: 520px;
  height: 385px;
  padding: 5px;
}
li {
  list-style-type: none;
}
li a.thumbnail {
  border: none;
}