<center>
<div>
  <div>
    
    <div>
      <p>
        Search: <input ng-model='$ctrl.query' />
      </p>
      <p>
        Sort by:
        <select ng-model='$ctrl.orderProp'>
          <option value='name'>Alphabetical</option>
          <option value='age'>Newest</option>
        </select>
      </p>
    </div>
    <hr/>
    <div class='phonediv'>
      <ul class='phones'>
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class='thumbnail'>
          <a href='http://angular.github.io/angular-phonecat/step-8/app/phones/{{phone.id}}' class='thumbnail'>
            <img ng-src='http://angular.github.io/angular-phonecat/step-8/app/{{phone.imageUrl}}' alt='{{phone.name}}' />
          </a>
          <a href='#/phones/{{phone.name}}'>{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>
    
  </div>
</div>
</center>